.circle-small {
	border-radius: 50%;
	width: 30px;
	height: 30px; 
	display: inline-block;
	/* width and height can be anything, as long as they're equal */
}

.circle-medium {
	border-radius: 50%;
	width: 50px;
	height: 50px; 
	display: inline-block;
	/* width and height can be anything, as long as they're equal */
}

.circle-large {
	border-radius: 50%;
	width: 70px;
	height: 70px; 
	display: inline-block;
	/* width and height can be anything, as long as they're equal */
}